<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- 集中配置属性进行管理,使用时通过:${name} -->
    <properties>
        <property name="LOG_HOME">logs</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="GBK" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- 日志文件输出 appender -->
        <File name="File" fileName="${LOG_HOME}/myfile.log">
            <PatternLayout charset="GBK" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>